/* Navbar Styles  */
.hamburger__button {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  color: var(--primary);
}

/* TOP NAV  */
header {
  top: 0;
  left: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 997;
}

header .top__nav {
  background-color: var(--primary);
  color: var(--white);
}

header .top__nav > div {
  padding: 0.75rem 1rem;
}

header .top__nav > div > .nav__list {
  gap: 2rem;
}

header .top__nav > div > .nav__list > .nav__item {
  border-bottom: 2px solid transparent;
  gap: 0.2rem;
  transition: border-color 0.2s ease-in-out;
  padding-block: 0.2rem;
}

header .top__nav > div > .nav__list > .nav__item.img {
  display: flex;
  align-items: center;
}

header .top__nav > div > .nav__list > .nav__item:hover {
  border-color: var(--white);
}

/* MIDDLE NAV  */
header .middle__nav {
  border-bottom: 2px solid var(--primary);
  background-color: var(--white);
}

header .middle__nav .logo__container,
header .middle__nav .search {
  flex: 1;
}

header .middle__nav .search {
  gap: 1rem;
}

header .middle__nav .search .cart {
  background-color: var(--accent-2);
  border-radius: 50%;
  min-width: 2.5rem;
  min-height: 2.5rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

header .middle__nav .search .cart:hover {
  background-color: var(--accent-3);
}

header .middle__nav .search .cart > img {
  width: 1.5rem;
  height: auto;
  object-fit: contain;
}

header .middle__nav > div {
  padding: 1.5rem 1rem;
}

header .middle__nav .logo {
  width: min(100%, 19rem);
  height: auto;
}

header .middle__nav form {
  width: 90%;
}

header .middle__nav .custom__input {
  border: 3px solid var(--primary--opacity);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  width: min(100%, 20rem);
  transition: border-color 0.2s ease-in-out;
}

header .middle__nav .custom__input:has(input:focus-visible) {
  border-color: #0e9de5;
}

header .middle__nav .custom__input input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
}

header .middle__nav .custom__input .search__button {
  width: 10%;
  height: 1.3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

header .middle__nav .custom__input .search__button > img {
  object-fit: contain;
}

/* BOTTOM NAV  */
header .bottom__nav {
  background-color: var(--white);
}

header .bottom__nav div {
  padding: 0rem 1rem;
}

header .bottom__nav .category {
  flex: 1;
  gap: 0.5rem;
  padding: 1rem 0rem;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

header .bottom__nav .category i {
  color: grey;
  font-size: 1.1rem;
}

header .bottom__nav .category:not(.active):hover {
  border-bottom: 2px solid #0e9de5;
}

header .bottom__nav .category.active {
  background-color: var(--primary);
  color: var(--white);
}

@media only screen and (max-width: 1023px) {
  /* NAV BAR  */
  .top__nav,
  .bottom__nav {
    display: none;
  }

  .hamburger__button {
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  /* NAV BAR  */
  header .middle__nav form,
  header .middle__nav .cart {
    display: none;
  }
}
