@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@font-face {
  font-family: Rockwell;
  src: url("../assets/fonts/Rockwell.ttf");
}

@font-face {
  font-family: "Trajan Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Trajan Pro Regular"),
    url("../assets/fonts/TrajanPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Trajan Pro Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Trajan Pro Bold"),
    url("../assets/fonts/TrajanPro-Bold.woff") format("woff");
}

:root {
  --primary: #0e9de5;
  --secondary: #ff005f;

  --accent-1: #02dffa;
  --accent-2: #ffa61e;
  --accent-3: #e89415;
  --accent-4: #cc2966;
  --primary--opacity: rgba(14, 157, 229, 0.3);

  --text-color-1: #1e3440;
  --text-color-2: #809baa;
  --line-color: #68b2ca;

  --red: #ea0008;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #535353;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--text-color-1);
  background: var(--white);
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

ol,
ul,
li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--white);
}

::selection {
  color: var(--white);
  background-color: var(--secondary);
}

::-moz-selection {
  color: var(--white);
  background-color: var(--secondary);
}

/* GLOBAL STYLES  */
.pacifico {
  font-family: "Pacifico";
}

.rockwell {
  font-family: Rockwell;
}

.trajan {
  font-family: "Trajan Pro Regular";
}

.container {
  max-width: 1336px;
  margin: 0 auto;
}

.container.padding {
  padding: 5rem 1rem;
}

.container.padding.no__top {
  padding-top: 0rem;
}

.flex {
  display: flex;
}

.flex__1 {
  flex: 1;
}

.text__center {
  text-align: center;
}

.align__center {
  align-items: center;
}

.align__end {
  align-items: flex-end;
}

.align__end {
  align-items: flex-start;
}

.justify__center {
  justify-content: center;
}

.justify__end {
  justify-content: flex-end;
}

.space__between {
  justify-content: space-between;
}

.flex__column {
  flex-direction: column;
}

.p__absolute {
  position: absolute;
}

.p__fixed {
  position: fixed;
}

.p__relative {
  position: relative;
}

.max__w {
  width: 100%;
}

.max__h {
  height: 100%;
}

.custom__icon {
  width: 0.8rem;
  height: auto;
  object-fit: fill;
}

.custom__icon.key {
  width: 1.2rem;
  height: auto;
  object-fit: fill;
}

/* SECTION TITLE CARD  */
.section__title__card {
  border-bottom: 1px solid var(--line-color);
  padding: 2rem 1rem;
  padding-top: 0rem;
}

.section__title__card.line__2 {
  border-bottom: 1px solid var(--secondary);
}

.section__title__card::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 7px;
  background-color: var(--secondary);
  z-index: 2;
}

.section__title__card > h2 {
  font-size: clamp(2rem, 5vw, 3rem);
  text-transform: uppercase;
  text-align: center;
}

/* SECTION DESC  */
.section__desc p {
  text-align: center;
  color: var(--text-color-2);
  max-width: 50rem;
  padding: 2rem 1rem;
}
